<a href="https://colab.research.google.com/github/saptarshidatta96/MTech_Sem3/blob/main/CV_Assignment_3ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [139]:
import keras
import tensorflow as tf
import cv2
from skimage.feature import hog
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tensorflow.keras.callbacks import EarlyStopping

In [121]:
(x_train, y_train), (x_test, y_test) = tf.keras.datasets.cifar10.load_data()
assert x_train.shape == (50000, 32, 32, 3)
assert x_test.shape == (10000, 32, 32, 3)
assert y_train.shape == (50000, 1)
assert y_test.shape == (10000, 1)

In [125]:
y_test.shape

(10000, 1)

In [126]:
x_train = [ cv2.cvtColor(x_train[i],cv2.COLOR_BGR2GRAY) for i in range(len(x_train))]
x_test  = [ cv2.cvtColor(x_test[i],cv2.COLOR_BGR2GRAY) for i in range(len(x_test))]

In [127]:
x_train = np.asarray(x_train)
x_test = np.asarray(x_test)

In [128]:
block_norm = 'L2-Hys'    
orientations = 9          
pixels_per_cell = [8, 8]  
cells_per_block = [2, 2]
def extractFeature(img, vis=False):
    return hog(img, orientations, pixels_per_cell, cells_per_block, block_norm, visualize=vis, transform_sqrt=True)

In [129]:
X_training = np.array( [ extractFeature(x_train[i], vis=False) for i in range(len(x_train)) ] )
X_testing = np.array( [ extractFeature(x_test[i], vis=False) for i in range(len(x_test)) ] )

In [130]:
df_y_train = pd.DataFrame(y_train)
y_training = pd.get_dummies(df_y_train[0])
df_y_test = pd.DataFrame(y_test)
y_testing = pd.get_dummies(df_y_test[0])

In [131]:
df_y_train[0].unique()

array([6, 9, 4, 1, 2, 7, 8, 3, 5, 0], dtype=uint8)

In [134]:
y_testing.head()

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  1  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  1  0
2  0  0  0  0  0  0  0  0  1  0
3  1  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  1  0  0  0

In [141]:
model= tf.keras.models.Sequential(
    [tf.keras.layers.Dense(324, activation='relu'),
     tf.keras.layers.Dense(128, activation='relu'),
     tf.keras.layers.Dense(10, activation='softmax')]
)

In [142]:
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [137]:
model.build(X_training.shape)
model.summary()

Model: "sequential_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_23 (Dense)            (50000, 324)              105300

 dense_24 (Dense)            (50000, 128)              41600

 dense_25 (Dense)            (50000, 10)               1290

=================================================================
Total params: 148,190
Trainable params: 148,190
Non-trainable params: 0
_________________________________________________________________

In [140]:


callbacks = [EarlyStopping(monitor='val_loss', patience=8)]
history = model.fit(X_training, y_training,
            epochs=100,
            callbacks = callbacks,
            validation_data=(X_testing, y_testing),
            verbose=2,
            batch_size=64)

Epoch 1/100
782/782 - 4s - loss: 0.6861 - accuracy: 0.7577 - val_loss: 1.2554 - val_accuracy: 0.6041 - 4s/epoch - 5ms/step
Epoch 2/100
782/782 - 3s - loss: 0.6479 - accuracy: 0.7717 - val_loss: 1.3094 - val_accuracy: 0.6116 - 3s/epoch - 4ms/step
Epoch 3/100
782/782 - 3s - loss: 0.6233 - accuracy: 0.7809 - val_loss: 1.3097 - val_accuracy: 0.6043 - 3s/epoch - 4ms/step
Epoch 4/100
782/782 - 3s - loss: 0.5979 - accuracy: 0.7903 - val_loss: 1.3306 - val_accuracy: 0.6030 - 3s/epoch - 4ms/step
Epoch 5/100
782/782 - 3s - loss: 0.5802 - accuracy: 0.7967 - val_loss: 1.3538 - val_accuracy: 0.6034 - 3s/epoch - 4ms/step
Epoch 6/100
782/782 - 3s - loss: 0.5581 - accuracy: 0.8035 - val_loss: 1.4021 - val_accuracy: 0.5921 - 3s/epoch - 4ms/step
Epoch 7/100
782/782 - 3s - loss: 0.5406 - accuracy: 0.8093 - val_loss: 1.4353 - val_accuracy: 0.5910 - 3s/epoch - 4ms/step
Epoch 8/100
782/782 - 3s - loss: 0.5250 - accuracy: 0.8162 - val_loss: 1.4619 - val_accuracy: 0.5905 - 3s/epoch - 4ms/step
Epoch 9/100
782/782 - 3s - loss: 0.5062 - accuracy: 0.8221 - val_loss: 1.4853 - val_accuracy: 0.5923 - 3s/epoch - 4ms/step