<a href="https://colab.research.google.com/github/saptarshidatta96/MTech_Sem3/blob/main/NLU_ASSIGNMENT_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [63]:
import csv
import requests
import numpy as np
import xml.etree.ElementTree as ET
import random
import tensorflow as tf
from scipy.sparse import csr_matrix
import tensorflow as tf
from keras.preprocessing import sequence
from keras.preprocessing import text
from tensorflow import keras
from keras.models import Sequential
from keras import models
from keras.layers import *
from keras.models import *
from keras import backend as K
from keras import initializers
from keras import regularizers
from keras.layers import Dense, Embedding, LSTM, SpatialDropout1D, Bidirectional, Attention, Flatten, Activation, RepeatVector, Permute, Multiply
from keras.layers import CuDNNLSTM
from keras.layers import Dropout, Multiply, Lambda
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [4]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

In [5]:
import pandas as pd
import xml.etree.ElementTree as ET
import io
import xml.dom.minidom

def iter_docs(author):
  author_attr = author.attrib
  for doc in author.iter('sentence'):
    doc_dict = author_attr.copy()
    for text in doc.iter('text'):
      doc_dict['text'] = text.text
      for cat in doc.iter('aspectCategory'):
        doc_dict.update(cat.attrib)
      yield doc_dict


etree = ET.parse("/content/gdrive/MyDrive/train.xml")
doc_df = pd.DataFrame(list(iter_docs(etree.getroot())))

In [6]:
doc_df.head()

                                                text       category  polarity
0  It might be the best sit down food I've had in...          place   neutral
1  Hostess was extremely accommodating when we ar...  miscellaneous   neutral
2  We were a couple of minutes late for our reser...          staff  negative
3  Though the service might be a little slow, the...          staff  positive
4  Although we arrived at the restaurant 10 min l...  miscellaneous   neutral

In [7]:
doc_df.shape

(3134, 3)

In [8]:
doc_df['category'].unique()

array(['place', 'miscellaneous', 'staff', 'food', 'ambience', 'service',
       'menu', 'price'], dtype=object)

In [9]:
doc_df['polarity'].unique()

array(['neutral', 'negative', 'positive'], dtype=object)

In [10]:
df_category = pd.get_dummies(doc_df['category'], columns = ['food', 'place', 'staff', 'miscellaneous', 'service', 'price', 'menu', 'ambience'])

In [11]:
df_polarity = pd.get_dummies(doc_df['polarity'], columns = ['neutral', 'negative', 'positive'])

In [12]:
df = pd.concat([df_category, df_polarity], axis=1)

In [13]:
df = pd.concat([doc_df['text'], df], axis=1)

In [14]:
df.head()

                                                text  ...  positive
0  It might be the best sit down food I've had in...  ...         0
1  Hostess was extremely accommodating when we ar...  ...         0
2  We were a couple of minutes late for our reser...  ...         0
3  Though the service might be a little slow, the...  ...         1
4  Although we arrived at the restaurant 10 min l...  ...         0

[5 rows x 12 columns]

In [15]:
data = df['text']
data = list(data)
labels = df.drop(['text'], axis = 1)

In [16]:
def split_training_and_validation_sets(data, labels, validation_split):

    num_training_samples = int((1 - validation_split) * len(data))
    return ((data[:num_training_samples], labels[:num_training_samples]),
            (data[num_training_samples:], labels[num_training_samples:]))
    
(train_data, train_label), (valid_data, valid_label) = split_training_and_validation_sets(data, labels, 0.1)

In [17]:
print(valid_label)

      ambience  food  menu  miscellaneous  ...  staff  negative  neutral  positive
2820         0     1     0              0  ...      0         0        0         1
2821         0     0     0              0  ...      0         1        0         0
2822         0     0     1              0  ...      0         0        1         0
2823         0     1     0              0  ...      0         1        0         0
2824         0     1     0              0  ...      0         0        1         0
...        ...   ...   ...            ...  ...    ...       ...      ...       ...
3129         0     0     0              0  ...      1         1        0         0
3130         0     0     1              0  ...      0         0        1         0
3131         0     0     0              0  ...      0         0        1         0
3132         0     0     0              0  ...      0         0        0         1
3133         0     0     0              0  ...      1         1        0         0

[314 rows x 11 columns]

In [18]:
train_label = tf.convert_to_tensor(train_label, dtype=tf.float32)
valid_label = tf.convert_to_tensor(valid_label, dtype=tf.float32)

In [19]:
def sequence_vectorizer(train_data, valid_data):

    # Create vocabulary with training texts.
    tokenizer = text.Tokenizer(num_words=20000)
    tokenizer.fit_on_texts(train_data)

    # Vectorize training and validation texts.
    x_train = tokenizer.texts_to_sequences(train_data)
    x_val = tokenizer.texts_to_sequences(valid_data)

    # Get max sequence length.
    max_length = len(max(x_train, key=len))
    if max_length > 50:
        max_length = 50

    # Fix sequence length to max value. Sequences shorter than the length are
    # padded in the beginning and sequences longer are truncated
    # at the beginning.
    x_train = sequence.pad_sequences(x_train, maxlen=max_length)
    x_val = sequence.pad_sequences(x_val, maxlen=max_length)

    x_train = tf.convert_to_tensor(x_train, dtype=tf.float32)
    x_val = tf.convert_to_tensor(x_val, dtype=tf.float32)

    return x_train, x_val, tokenizer.word_index

In [20]:
x_train, x_val, word_index = sequence_vectorizer(train_data, valid_data)

In [21]:
len(word_index)

6269

In [22]:
print(x_train.shape)

(2820, 50)

In [23]:
!unzip "/content/gdrive/MyDrive/glove.42B.300d.zip" -d "/content"

Archive:  /content/gdrive/MyDrive/glove.42B.300d.zip
  inflating: /content/glove.42B.300d.txt

In [32]:
glove_file = "glove.42B.300d.txt"
import tqdm

EMBEDDING_VECTOR_LENGTH = 50 # <=200
def construct_embedding_matrix(glove_file, word_index):
    embedding_dict = {}
    with open(glove_file,'r') as f:
        for line in f:
            values=line.split()
            # get the word
            word=values[0]
            if word in word_index.keys():
                # get the vector
                vector = np.asarray(values[1:], 'float32')
                embedding_dict[word] = vector
    ###  oov words (out of vacabulary words) will be mapped to 0 vectors

    num_words=len(word_index)+1
    #initialize it to 0
    embedding_matrix=np.zeros((num_words, EMBEDDING_VECTOR_LENGTH))

    for word,i in tqdm.tqdm(word_index.items()):
        if i < num_words:
            vect=embedding_dict.get(word, [])
            if len(vect)>0:
                embedding_matrix[i] = vect[:EMBEDDING_VECTOR_LENGTH]
    return embedding_matrix
  
embedding_matrix =  construct_embedding_matrix(glove_file, word_index)

100%|██████████| 6269/6269 [00:00<00:00, 359032.33it/s]

In [25]:
embedding_matrix.shape

(6270, 50)

In [26]:
from keras import backend as K

def recall_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    possible_positives = K.sum(K.round(K.clip(y_true, 0, 1)))
    recall = true_positives / (possible_positives + K.epsilon())
    return recall

def precision_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    predicted_positives = K.sum(K.round(K.clip(y_pred, 0, 1)))
    precision = true_positives / (predicted_positives + K.epsilon())
    return precision

def f1_m(y_true, y_pred):
    precision = precision_m(y_true, y_pred)
    recall = recall_m(y_true, y_pred)
    return 2*((precision*recall)/(precision+recall+K.epsilon()))

In [95]:
class attention(Layer):
    
    def __init__(self, return_sequences=True):
        self.return_sequences = return_sequences
        super(attention,self).__init__()
        
    def build(self, input_shape):
        
        self.W=self.add_weight(name="att_weight", shape=(input_shape[-1],1),
                               initializer="normal")
        self.b=self.add_weight(name="att_bias", shape=(input_shape[1],1),
                               initializer="zeros")
        
        super(attention,self).build(input_shape)
        
    def call(self, x):
        
        e = K.tanh(K.dot(x,self.W)+self.b)
        a = K.softmax(e, axis=1)
        output = x*a
        
        if self.return_sequences:
            return output
        
        return K.sum(output, axis=1)

In [104]:
lstm_out = 200
model = Sequential()
embedding_layer = Embedding(len(word_index) + 1,
                            EMBEDDING_VECTOR_LENGTH,
                            weights=[embedding_matrix],
                            input_length=50,
                            trainable=False)


model.add(embedding_layer)
#model.add(LSTM(lstm_out, dropout=0.2, recurrent_dropout=0.2))
model.add(Bidirectional(LSTM(lstm_out,return_sequences=True)))
model.add(Bidirectional(LSTM(lstm_out,return_sequences=True)))
model.add(Bidirectional(LSTM(lstm_out,return_sequences=True)))
#model.add(LSTM(lstm_out, dropout=0.2, recurrent_dropout=0.2))
model.add(attention(return_sequences=True))


model.add(Flatten())
model.add(Dropout(0.3))

model.add(Dense(11, activation='sigmoid'))


opt = keras.optimizers.Adam(learning_rate=0.01)
model.compile(loss='binary_crossentropy', optimizer=opt, metrics=['accuracy'])
model.summary()

Model: "sequential_29"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_34 (Embedding)    (None, 50, 50)            313500

 bidirectional_39 (Bidirecti  (None, 50, 400)          401600
 onal)

 bidirectional_40 (Bidirecti  (None, 50, 400)          961600
 onal)

 bidirectional_41 (Bidirecti  (None, 50, 400)          961600
 onal)

 attention_11 (attention)    (None, 50, 400)           450

 flatten_20 (Flatten)        (None, 20000)             0

 dropout_22 (Dropout)        (None, 20000)             0

 dense_29 (Dense)            (None, 11)                220011

=================================================================
Total params: 2,858,761
Trainable params: 2,545,261
Non-trainable params: 313,500
_________________________________________________________________

In [101]:
callbacks = [EarlyStopping(monitor='val_accuracy', patience=5)]

In [105]:
model.fit(x_train, train_label,
            epochs=50,
            #callbacks=callbacks,
            validation_data=(x_val, valid_label),
            verbose=2,
            batch_size=128)

Epoch 1/50
23/23 - 16s - loss: 0.4447 - accuracy: 0.0691 - val_loss: 0.4121 - val_accuracy: 0.0000e+00 - 16s/epoch - 685ms/step
Epoch 2/50
23/23 - 3s - loss: 0.4165 - accuracy: 0.0000e+00 - val_loss: 0.4106 - val_accuracy: 0.0000e+00 - 3s/epoch - 128ms/step
Epoch 3/50
23/23 - 3s - loss: 0.4172 - accuracy: 0.0000e+00 - val_loss: 0.4105 - val_accuracy: 0.0000e+00 - 3s/epoch - 127ms/step
Epoch 4/50
23/23 - 3s - loss: 0.4153 - accuracy: 0.0000e+00 - val_loss: 0.4086 - val_accuracy: 0.0000e+00 - 3s/epoch - 127ms/step
Epoch 5/50
23/23 - 3s - loss: 0.4163 - accuracy: 0.0000e+00 - val_loss: 0.4074 - val_accuracy: 0.0000e+00 - 3s/epoch - 128ms/step
Epoch 6/50
23/23 - 3s - loss: 0.4135 - accuracy: 0.0000e+00 - val_loss: 0.4229 - val_accuracy: 0.0000e+00 - 3s/epoch - 127ms/step
Epoch 7/50
23/23 - 3s - loss: 0.4172 - accuracy: 0.0000e+00 - val_loss: 0.4057 - val_accuracy: 0.0000e+00 - 3s/epoch - 128ms/step
Epoch 8/50
23/23 - 3s - loss: 0.4105 - accuracy: 0.0000e+00 - val_loss: 0.4132 - val_accuracy: 0.0000e+00 - 3s/epoch - 128ms/step
Epoch 9/50
23/23 - 3s - loss: 0.4084 - accuracy: 0.0000e+00 - val_loss: 0.4036 - val_accuracy: 0.0000e+00 - 3s/epoch - 128ms/step
Epoch 10/50
23/23 - 3s - loss: 0.4001 - accuracy: 0.0000e+00 - val_loss: 0.4063 - val_accuracy: 0.0000e+00 - 3s/epoch - 128ms/step
Epoch 11/50
23/23 - 3s - loss: 0.3927 - accuracy: 0.0000e+00 - val_loss: 0.3851 - val_accuracy: 0.0000e+00 - 3s/epoch - 129ms/step
Epoch 12/50
23/23 - 3s - loss: 0.3789 - accuracy: 0.0011 - val_loss: 0.3746 - val_accuracy: 0.0032 - 3s/epoch - 129ms/step
Epoch 13/50
23/23 - 3s - loss: 0.3690 - accuracy: 0.0284 - val_loss: 0.3835 - val_accuracy: 0.0127 - 3s/epoch - 128ms/step
Epoch 14/50
23/23 - 3s - loss: 0.3731 - accuracy: 0.0379 - val_loss: 0.3719 - val_accuracy: 0.0096 - 3s/epoch - 128ms/step
Epoch 15/50
23/23 - 3s - loss: 0.3523 - accuracy: 0.0965 - val_loss: 0.3610 - val_accuracy: 0.0287 - 3s/epoch - 129ms/step
Epoch 16/50
23/23 - 3s - loss: 0.3434 - accuracy: 0.1287 - val_loss: 0.3595 - val_accuracy: 0.0955 - 3s/epoch - 134ms/step
Epoch 17/50
23/23 - 3s - loss: 0.3400 - accuracy: 0.1677 - val_loss: 0.3508 - val_accuracy: 0.1561 - 3s/epoch - 133ms/step
Epoch 18/50
23/23 - 3s - loss: 0.3252 - accuracy: 0.1805 - val_loss: 0.3465 - val_accuracy: 0.2325 - 3s/epoch - 128ms/step
Epoch 19/50
23/23 - 3s - loss: 0.3060 - accuracy: 0.2401 - val_loss: 0.3368 - val_accuracy: 0.2293 - 3s/epoch - 128ms/step
Epoch 20/50
23/23 - 3s - loss: 0.2854 - accuracy: 0.2908 - val_loss: 0.3534 - val_accuracy: 0.3280 - 3s/epoch - 128ms/step
Epoch 21/50
23/23 - 3s - loss: 0.2846 - accuracy: 0.3351 - val_loss: 0.3534 - val_accuracy: 0.3503 - 3s/epoch - 128ms/step
Epoch 22/50
23/23 - 3s - loss: 0.2758 - accuracy: 0.3305 - val_loss: 0.3644 - val_accuracy: 0.3854 - 3s/epoch - 128ms/step
Epoch 23/50
23/23 - 3s - loss: 0.2586 - accuracy: 0.3887 - val_loss: 0.3606 - val_accuracy: 0.2994 - 3s/epoch - 128ms/step
Epoch 24/50
23/23 - 3s - loss: 0.2416 - accuracy: 0.4220 - val_loss: 0.3606 - val_accuracy: 0.3121 - 3s/epoch - 128ms/step
Epoch 25/50
23/23 - 3s - loss: 0.2166 - accuracy: 0.4592 - val_loss: 0.3569 - val_accuracy: 0.4268 - 3s/epoch - 128ms/step
Epoch 26/50
23/23 - 3s - loss: 0.2031 - accuracy: 0.5124 - val_loss: 0.3652 - val_accuracy: 0.3726 - 3s/epoch - 128ms/step
Epoch 27/50
23/23 - 3s - loss: 0.1670 - accuracy: 0.5330 - val_loss: 0.4035 - val_accuracy: 0.3599 - 3s/epoch - 128ms/step
Epoch 28/50
23/23 - 3s - loss: 0.1646 - accuracy: 0.5500 - val_loss: 0.4317 - val_accuracy: 0.3567 - 3s/epoch - 128ms/step
Epoch 29/50
23/23 - 3s - loss: 0.1558 - accuracy: 0.5415 - val_loss: 0.4147 - val_accuracy: 0.3662 - 3s/epoch - 128ms/step
Epoch 30/50
23/23 - 3s - loss: 0.1447 - accuracy: 0.4975 - val_loss: 0.4596 - val_accuracy: 0.3408 - 3s/epoch - 128ms/step
Epoch 31/50
23/23 - 3s - loss: 0.1287 - accuracy: 0.5039 - val_loss: 0.4490 - val_accuracy: 0.3949 - 3s/epoch - 128ms/step
Epoch 32/50
23/23 - 3s - loss: 0.1289 - accuracy: 0.4812 - val_loss: 0.4418 - val_accuracy: 0.3631 - 3s/epoch - 128ms/step
Epoch 33/50
23/23 - 3s - loss: 0.1084 - accuracy: 0.5110 - val_loss: 0.4728 - val_accuracy: 0.3599 - 3s/epoch - 128ms/step
Epoch 34/50
23/23 - 3s - loss: 0.1037 - accuracy: 0.5039 - val_loss: 0.4757 - val_accuracy: 0.3790 - 3s/epoch - 128ms/step
Epoch 35/50
23/23 - 3s - loss: 0.0817 - accuracy: 0.5028 - val_loss: 0.5313 - val_accuracy: 0.3599 - 3s/epoch - 128ms/step
Epoch 36/50
23/23 - 3s - loss: 0.0592 - accuracy: 0.4780 - val_loss: 0.5406 - val_accuracy: 0.3567 - 3s/epoch - 128ms/step
Epoch 37/50
23/23 - 3s - loss: 0.0499 - accuracy: 0.4404 - val_loss: 0.5565 - val_accuracy: 0.3376 - 3s/epoch - 128ms/step
Epoch 38/50
23/23 - 3s - loss: 0.0414 - accuracy: 0.4599 - val_loss: 0.5902 - val_accuracy: 0.3567 - 3s/epoch - 127ms/step
Epoch 39/50
23/23 - 3s - loss: 0.0354 - accuracy: 0.4511 - val_loss: 0.6250 - val_accuracy: 0.3280 - 3s/epoch - 128ms/step
Epoch 40/50
23/23 - 3s - loss: 0.0323 - accuracy: 0.4543 - val_loss: 0.6525 - val_accuracy: 0.2930 - 3s/epoch - 128ms/step
Epoch 41/50
23/23 - 3s - loss: 0.0462 - accuracy: 0.4727 - val_loss: 0.6491 - val_accuracy: 0.3503 - 3s/epoch - 128ms/step
Epoch 42/50
23/23 - 3s - loss: 0.0559 - accuracy: 0.4979 - val_loss: 0.6153 - val_accuracy: 0.2994 - 3s/epoch - 128ms/step
Epoch 43/50
23/23 - 3s - loss: 0.0510 - accuracy: 0.5014 - val_loss: 0.6324 - val_accuracy: 0.3248 - 3s/epoch - 128ms/step
Epoch 44/50
23/23 - 3s - loss: 0.0376 - accuracy: 0.4748 - val_loss: 0.6466 - val_accuracy: 0.3248 - 3s/epoch - 128ms/step
Epoch 45/50
23/23 - 3s - loss: 0.0350 - accuracy: 0.4670 - val_loss: 0.6448 - val_accuracy: 0.3567 - 3s/epoch - 128ms/step
Epoch 46/50
23/23 - 3s - loss: 0.0286 - accuracy: 0.4372 - val_loss: 0.6910 - val_accuracy: 0.3185 - 3s/epoch - 128ms/step
Epoch 47/50
23/23 - 3s - loss: 0.0265 - accuracy: 0.4043 - val_loss: 0.7071 - val_accuracy: 0.3344 - 3s/epoch - 128ms/step
Epoch 48/50
23/23 - 3s - loss: 0.0430 - accuracy: 0.5188 - val_loss: 0.6997 - val_accuracy: 0.2803 - 3s/epoch - 128ms/step
Epoch 49/50
23/23 - 3s - loss: 0.0321 - accuracy: 0.4507 - val_loss: 0.7213 - val_accuracy: 0.3185 - 3s/epoch - 128ms/step
Epoch 50/50
23/23 - 3s - loss: 0.0188 - accuracy: 0.4206 - val_loss: 0.7208 - val_accuracy: 0.3535 - 3s/epoch - 128ms/step