<a href="https://colab.research.google.com/github/saptarshidatta96/MTech_Sem3/blob/main/NLU_ASSIGNMENT_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import csv
import requests
import numpy as np
import xml.etree.ElementTree as ET
import random
import tensorflow as tf
from scipy.sparse import csr_matrix
import tensorflow as tf
from keras.preprocessing import sequence
from keras.preprocessing import text
from tensorflow import keras
from keras.models import Sequential
from keras import models
from keras import initializers
from keras import regularizers
from keras.layers import Dense, Embedding, LSTM, SpatialDropout1D, Bidirectional, Attention, Flatten
from keras.layers import CuDNNLSTM
from keras.layers import Dropout
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [3]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

In [4]:
import pandas as pd
import xml.etree.ElementTree as ET
import io
import xml.dom.minidom

def iter_docs(author):
  author_attr = author.attrib
  for doc in author.iter('sentence'):
    doc_dict = author_attr.copy()
    for text in doc.iter('text'):
      doc_dict['text'] = text.text
      for cat in doc.iter('aspectCategory'):
        doc_dict.update(cat.attrib)
      yield doc_dict


etree = ET.parse("/content/gdrive/MyDrive/train.xml")
doc_df = pd.DataFrame(list(iter_docs(etree.getroot())))

In [5]:
doc_df.head()

                                                text       category  polarity
0  It might be the best sit down food I've had in...          place   neutral
1  Hostess was extremely accommodating when we ar...  miscellaneous   neutral
2  We were a couple of minutes late for our reser...          staff  negative
3  Though the service might be a little slow, the...          staff  positive
4  Although we arrived at the restaurant 10 min l...  miscellaneous   neutral

In [6]:
doc_df.shape

(3134, 3)

In [7]:
doc_df['category'].unique()

array(['place', 'miscellaneous', 'staff', 'food', 'ambience', 'service',
       'menu', 'price'], dtype=object)

In [8]:
doc_df['polarity'].unique()

array(['neutral', 'negative', 'positive'], dtype=object)

In [9]:
df_category = pd.get_dummies(doc_df['category'], columns = ['food', 'place', 'staff', 'miscellaneous', 'service', 'price', 'menu', 'ambience'])

In [10]:
df_polarity = pd.get_dummies(doc_df['polarity'], columns = ['neutral', 'negative', 'positive'])

In [11]:
df = pd.concat([df_category, df_polarity], axis=1)

In [12]:
df = pd.concat([doc_df['text'], df], axis=1)

In [13]:
df.head()

                                                text  ...  positive
0  It might be the best sit down food I've had in...  ...         0
1  Hostess was extremely accommodating when we ar...  ...         0
2  We were a couple of minutes late for our reser...  ...         0
3  Though the service might be a little slow, the...  ...         1
4  Although we arrived at the restaurant 10 min l...  ...         0

[5 rows x 12 columns]

In [14]:
data = df['text']
data = list(data)
labels = df.drop(['text'], axis = 1)

In [15]:
def split_training_and_validation_sets(data, labels, validation_split):

    num_training_samples = int((1 - validation_split) * len(data))
    return ((data[:num_training_samples], labels[:num_training_samples]),
            (data[num_training_samples:], labels[num_training_samples:]))
    
(train_data, train_label), (valid_data, valid_label) = split_training_and_validation_sets(data, labels, 0.1)

In [16]:
print(valid_label)

      ambience  food  menu  miscellaneous  ...  staff  negative  neutral  positive
2820         0     1     0              0  ...      0         0        0         1
2821         0     0     0              0  ...      0         1        0         0
2822         0     0     1              0  ...      0         0        1         0
2823         0     1     0              0  ...      0         1        0         0
2824         0     1     0              0  ...      0         0        1         0
...        ...   ...   ...            ...  ...    ...       ...      ...       ...
3129         0     0     0              0  ...      1         1        0         0
3130         0     0     1              0  ...      0         0        1         0
3131         0     0     0              0  ...      0         0        1         0
3132         0     0     0              0  ...      0         0        0         1
3133         0     0     0              0  ...      1         1        0         0

[314 rows x 11 columns]

In [17]:
train_label = tf.convert_to_tensor(train_label, dtype=tf.float32)
valid_label = tf.convert_to_tensor(valid_label, dtype=tf.float32)

In [18]:
def sequence_vectorizer(train_data, valid_data):

    # Create vocabulary with training texts.
    tokenizer = text.Tokenizer(num_words=20000)
    tokenizer.fit_on_texts(train_data)

    # Vectorize training and validation texts.
    x_train = tokenizer.texts_to_sequences(train_data)
    x_val = tokenizer.texts_to_sequences(valid_data)

    # Get max sequence length.
    max_length = len(max(x_train, key=len))
    if max_length > 50:
        max_length = 50

    # Fix sequence length to max value. Sequences shorter than the length are
    # padded in the beginning and sequences longer are truncated
    # at the beginning.
    x_train = sequence.pad_sequences(x_train, maxlen=max_length)
    x_val = sequence.pad_sequences(x_val, maxlen=max_length)

    x_train = tf.convert_to_tensor(x_train, dtype=tf.float32)
    x_val = tf.convert_to_tensor(x_val, dtype=tf.float32)

    return x_train, x_val, tokenizer.word_index

In [19]:
x_train, x_val, word_index = sequence_vectorizer(train_data, valid_data)

In [20]:
len(word_index)

6269

In [21]:
print(x_train.shape)

(2820, 50)

In [22]:
!unzip "/content/gdrive/MyDrive/glove.42B.300d.zip" -d "/content"

Archive:  /content/gdrive/MyDrive/glove.42B.300d.zip
  inflating: /content/glove.42B.300d.txt

In [23]:
glove_file = "glove.42B.300d.txt"
import tqdm

EMBEDDING_VECTOR_LENGTH = 50 # <=200
def construct_embedding_matrix(glove_file, word_index):
    embedding_dict = {}
    with open(glove_file,'r') as f:
        for line in f:
            values=line.split()
            # get the word
            word=values[0]
            if word in word_index.keys():
                # get the vector
                vector = np.asarray(values[1:], 'float32')
                embedding_dict[word] = vector
    ###  oov words (out of vacabulary words) will be mapped to 0 vectors

    num_words=len(word_index)+1
    #initialize it to 0
    embedding_matrix=np.zeros((num_words, EMBEDDING_VECTOR_LENGTH))

    for word,i in tqdm.tqdm(word_index.items()):
        if i < num_words:
            vect=embedding_dict.get(word, [])
            if len(vect)>0:
                embedding_matrix[i] = vect[:EMBEDDING_VECTOR_LENGTH]
    return embedding_matrix
  
embedding_matrix =  construct_embedding_matrix(glove_file, word_index)

100%|██████████| 6269/6269 [00:00<00:00, 399581.97it/s]

In [24]:
embedding_matrix.shape

(6270, 50)

In [25]:
from keras import backend as K

def recall_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    possible_positives = K.sum(K.round(K.clip(y_true, 0, 1)))
    recall = true_positives / (possible_positives + K.epsilon())
    return recall

def precision_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    predicted_positives = K.sum(K.round(K.clip(y_pred, 0, 1)))
    precision = true_positives / (predicted_positives + K.epsilon())
    return precision

def f1_m(y_true, y_pred):
    precision = precision_m(y_true, y_pred)
    recall = recall_m(y_true, y_pred)
    return 2*((precision*recall)/(precision+recall+K.epsilon()))

In [26]:
EMBEDDING_VECTOR_LENGTH

50

In [31]:
embed_dim = 128
lstm_out = 196
model = Sequential()
embedding_layer = Embedding(len(word_index) + 1,
                            EMBEDDING_VECTOR_LENGTH,
                            weights=[embedding_matrix],
                            input_length=50,
                            trainable=True)



model.add(embedding_layer)
model.add(Bidirectional(LSTM(lstm_out,return_sequences=True)))
model.add(LSTM(lstm_out, dropout=0.2, recurrent_dropout=0.2))

model.add(Flatten())
model.add(Dropout(0.3))
model.add(Dense(11, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()

WARNING:tensorflow:Layer lstm_9 will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.
Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_4 (Embedding)     (None, 50, 50)            313500

 bidirectional_4 (Bidirectio  (None, 50, 392)          387296
 nal)

 lstm_9 (LSTM)               (None, 196)               461776

 flatten (Flatten)           (None, 196)               0

 dropout (Dropout)           (None, 196)               0

 dense (Dense)               (None, 11)                2167

=================================================================
Total params: 1,164,739
Trainable params: 1,164,739
Non-trainable params: 0
_________________________________________________________________

In [ ]:
#callbacks = [EarlyStopping(monitor='val_loss', patience=5)]

In [ ]:
model.fit(x_train, train_label,
            epochs=100,
            #callbacks=callbacks,
            validation_data=(x_val, valid_label),
            verbose=2,
            batch_size=128)